/* Theme: Ayu Dark */
:host {
	--background: rgba(11, 14, 20, 0.92);
	--foreground: #bfbdb6;
	--accent:     #e6b450;
	--cursor:     #e6b450;

	--black:   #686868;
	--red:     #f07178;
	--green:   #aad94c;
	--yellow:  #ffb454;
	--blue:    #59c2ff;
	--magenta: #d2a6ff;
	--cyan:    #95e6cb;
	--white:   #ffffff;

	--bright-black:   #1e232b;
	--bright-red:     #ea6c73;
	--bright-green:   #7fd962;
	--bright-yellow:  #f9af4f;
	--bright-blue:    #53bdfa;
	--bright-magenta: #cda1fa;
	--bright-cyan:    #90e1c6;
	--bright-white:   #c7c7c7;

	--term-text-glow:   none;
	--term-prompt-glow: none;
}
