/* Theme: Noctis Default */
:host {
	--background: rgba(3, 25, 27, 0.92);
	--foreground: #b2cacd;
	--accent:     #40d4e7;
	--cursor:     #40d4e7;

	--black:   #324a4d;
	--red:     #e66533;
	--green:   #49e9a6;
	--yellow:  #e4b781;
	--blue:    #49ace9;
	--magenta: #df769b;
	--cyan:    #49d6e9;
	--white:   #b2cacd;

	--bright-black:   #47686c;
	--bright-red:     #e97749;
	--bright-green:   #60ebb1;
	--bright-yellow:  #e69533;
	--bright-blue:    #60b6eb;
	--bright-magenta: #e798b3;
	--bright-cyan:    #60dbeb;
	--bright-white:   #c1d4d7;

	--term-text-glow:   none;
	--term-prompt-glow: none;
}
